{% extends 'base.html' %}
{% load crispy_forms_tags %}
<!--loading in django crispy forms tags-->
{% block content %}
<!-- Registration form Content-->




<!-- Log in form Content-->

<div class="container">
    <div class="row">
        <div class="col-md-8 order-2 order-md-1">
            <div class="card">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <!--csrf token needed for all django forms for security-->
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Register</legend>
                            {{ form |crispy }}
                            <!-- styling form with django crispy forms-->
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-info" type="submit">Sign me up please!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4 order-1">
            <div style="margin: auto; text-align: center; padding-top:3rem;">
                <i class="fa fa-id-badge fa-5x" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>

{% endblock %}