{% extends "base.html" %}

{% block content %}
{% include 'cart/includes/intro.html' %}

<div class="container mt-2 mb-2">
    
<!-- total cost content details -->
<p>{{ donation_count }} item(s) at a total cost of: &euro;{{ total }}</p>
<hr>
<!-- looping through cart items -->
{% for item in cart_items %}
  <div class="row mb-2">
            <div class="col">
                <div class="card query-card">
                    <div class="card-body query">
                        <p><span class="cart-description">Donation type: {{ item.donation}}</span>
                            <span class="cart-price">price: &euro;{{ item.donation.price}}</span>
                            <span class="donate-cart"><a href="{% url 'delete-from-cart' item.id %}">
                                    <i class="fa fa-times fa-2x " aria-hidden="true"></i></a> <small>Delete from
                                        Cart</small>
                                </span>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

{% endfor%} 
<!-- Link to checkout -->
<a class="btn btn-info" href="{% url 'checkout' %}" title="Go to checkout">Go to checkout!</a>
</div>
{% endblock %}