{% extends "base.html" %}

{% block content %}
{% include 'cart/includes/intro.html' %}

<div class="container mt-2 mb-2">
    
<h1>Cart</h1>
{{ donation_count }} item(s) at a total cost of: &euro;{{ total }}<br>
<hr>
{% for item in cart_items %}
 Donation type: {{ item.donation}} price: {{ item.donation.price}} donation id: {{ item.id }} 
 <span class="donate-cart"><a href="{% url 'delete-from-cart' item.id %}">
        <i class="fa fa-times fa-2x " aria-hidden="true"></i></a> <small>Delete from
            Cart</small>
    </span>
{% endfor%} 
</div>
{% endblock %}