{% extends 'base.html' %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
<!--loading in django crispy forms tags-->

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock head_js %}



{% block content %}
<!-- Log in form Content-->
{% include 'checkout/includes/intro.html' %}
<div class="container">
    {% for item in cart_items %}
    <div class="row">
        <div class="col">
            <div class="card query-card">
                <div class="card-body query">
                    <p><span class="cart-description">Donation type: {{ item.donation}}</span>
                        <span class="cart-price">price: &euro;{{ item.donation.price}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <hr>
    <div class="row">
        <div class="col">
            <p>{{ donation_count }} item(s) at a total cost of: &euro;{{ total }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
                <legend>Payment Details</legend>

                <div id="credit-card-errors" style="display: none;">
                    <div id="alert-message block-message error" id="stripe-error-message"></div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        {{ order_form | crispy }}
                    </div>

                    <div class="form-group col-md-6">
                        {{ payment_form | crispy }}
                    </div>
                </div>
                {% csrf_token %}
                <div class="form-group col-md-12">
                    <input class=" btn btn-info" id="submit_payment_btn" name="commit" type="submit"
                        value="Submit Payment">
                </div>
            </form>
        </div>
    </div>
</div>



{% endblock %}