{% extends "base.html" %}

{% block content %}
{% include 'donation/includes/intro.html' %}

<div class="container mt-2 mb-2">
    {% for item in donations %} 
    <div class="row mb-2">
        <div class="col">
            <div class="card query-card">
                <div class="card-body query">

                    <h4>{{ item.name }}</h4>
                    <p><span class="donate-description">{{ item.description}}</span> 
                        <span class="donate-price">&euro;{{ item.price }}</span>
                        <span class="donate-cart"><i class="fa fa-cart-plus fa-2x " aria-hidden="true"></i>
                        </span> 
                       
                        <form method="post" action="{% url 'add-to-cart' item.id %}">
                            {% csrf_token %}
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="submit">Add</button>
                                </span>
                            </div>
                        </form>
                    </p>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
</div>
{% endblock %}