{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'forum/includes/intro.html' %}
<!-- form to allow a post to be edited by the post owner -->
<div class="container">
    <div class="row">
        <div class="col-md-8 order-2 order-md-1">
            <div class="card">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">

                            {{ form|crispy }}

                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-info" type="submit">Submit Post</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4 order-1">
            <div style="margin: auto; text-align: center; padding-top:3rem;">
                <i class="fa fa-comment-o fa-size" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>
{% endblock content %}