{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="col mb-2">
    <div class="card query-card">
      <div class="card-body query">
        {% if user.is_authenticated %}
        <p class="card-subtitle mb-2 text-muted small"><span class="delete-post"><a href="#" title="Delete Query"><i
                class="fa fa-times fa-3x" aria-hidden="true"></i></a></span>
          <span class="edit-post"><a href="{% url 'post-edit' post.id%}" title="Edit Post"><i class="fa fa-pencil fa-3x"
                aria-hidden="true"></i>
            </a></span>
        </p>
        {% endif %}
        <h4><a class="article-title" href="{% url 'post-detail' post.pk %}">{{ post.title }}</a></h4>
        <p>{{ post.content }}</p>
        <small><i class="fa fa-comment" aria-hidden="true"></i>
          {{ post.date_posted|date:"F d, Y" }} by {{ post.author}} <i class="fa fa-user" aria-hidden="true"></i>
        </small>
        <div class="row mt-2">
          <div class="col"><a class="comment-link" href="{% url 'post-edit' post.id%}" title="Add Comment"><i
                class="fa fa-comments fa-3x" aria-hidden="true"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  {% for comment in comments %}
  <div class="row">
    <div class="col mb-2">
      <div class="card comment-card">
        <div class="card-body comment">
          {% if user.is_authenticated %}
          <p class="card-subtitle mb-2 text-muted small"><span class="delete-post"><a href="#" title="Delete Query"><i
                  class="fa fa-times fa-3x" aria-hidden="true"></i></a></span> </p>
          {% endif %}
          <p>{{ comment.content  }}</p>
          <small>Comment by {{ comment.comment_by }} <i class="fa fa-user" aria-hidden="true"></i> <br><i
              class="fa fa-comments-o" aria-hidden="true"></i>
            {{ comment.comment_date|date:"F d, Y" }}
          </small>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}