body{
    font-family: 'Ubuntu', sans-serif; 
}

/*  nav */
/* change the nav background color */
.bg-light {
    background-color: #537479!important;
   
}
/* change text color */
.navbar-light .navbar-brand  {
    color: #fafafa;
}

.nav-item{
    color: #fafafa!important;
}
.nav-item:hover {
    color: #EE9E2E!important;
}
.navbar-brand:hover{
    color: #EE9E2E!important;
}

/* jumbotron */
.jumbotron{
    background-color: #F3CDA9;
    color: #537479;
    font-weight: bold; 
}
/* footer */
.footer{
    line-height: 1rem;
    font-size: 1rem;
    text-align: center;
    background-color: #537479;
    padding: 1rem;
    color: #fafafa;
    margin-top: -.5rem;
}
