body{
    font-family: 'Ubuntu', sans-serif;
}

/*  nav */
/* change the nav background color */
.bg-light {
    background-color: #774836!important;
   
}
/* change text color */
.navbar-light .navbar-brand  {
    color: #2EEE58;
}

.nav-item{
    color: #2EEE58!important;
}
.nav-item:hover {
    color: #EE9E2E!important;
}
.navbar-brand:hover{
    color: #EE9E2E!important;
}
/* footer */
.footer{
    line-height: 1rem;
    font-size: 1rem;
    text-align: center;
    background-color: #774836;
    padding: 1rem;
    color: #2EEE58;
}
