{% extends 'base.html' %}
{% load crispy_forms_tags %}
<!--loading in django crispy forms tags-->
{% block content %}
<!-- Password reset complete content, using built in django pwd reset functionality-->
{% include 'account/includes/intro.html' %}
<div class="container">
<div class="row">
        <div class="col-md-8 order-2 order-md-1">
            <div class="card">
                <div class="card-body">
                    <div class="alert alert-info">
                        Your password has been reset
                    </div>
                    <div><a href="{% url 'login' %}">Sign In Here</a></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 order-1">
            <div style="margin: auto; text-align: center; padding-top:3rem;">
                <i class="fa fa-sign-in fa-size" aria-hidden="true"></i>
              </div>
          </div>
      </div>
      </div>

{% endblock %}