<div class="row no-gutters">
    <!-- donation page intro -->
    <div class="col-12">
        <div class="jumbotron-fluid">
            <div class="container">
                <h1> <strong>DevAssist Donations</strong></h1>
                <p>We try to keep DevAssit costs as low as possible but we need funding to keep us going. 
                    We also plan in the future to have our own developer led team to assist our growing 
                    community especially for those who make donations</p>
            </div>  
 
        </div>  
    </div>
</div>