<div class="row no-gutters">
    <!-- page intro -->
    <div class="col-12">
        <div class="jumbotron-fluid">
            <div class="container">
                <h1> <strong>DevAssist Main</strong></h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non facere hic recusandae beatae ipsam dolores, quisquam reprehenderit animi ea, 
                    id dolor enim eaque. Natus exercitationem rerum vero, ipsum quaerat molestiae.</p>
            </div>  
 
        </div>  
    </div>
</div>