{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="row">
    <div class="col-md-8 order-2 order-md-1">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">About</h5>
              <h6 class="card-subtitle mb-2 text-muted">About subtitle</h6>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos perferendi Dignissimos perferendi Dignissimos perferendi Dignissimos perferendi Dignissimos perferendi quaerat?</p>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos perferendi quaerat?</p>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos perferendi quaerat Dignissimos perferendi Dignissimos perferendi?</p>
              
            </div>
        </div>
    </div>
    <div class="col-md-4 order-1">
        <div style="margin: auto; text-align: center; padding-top:3rem;">
            <i class="fa fa-bookmark-o fa-5x" aria-hidden="true"></i>
          </div>
      </div>
  </div>
</div>
{% endblock %}