{% extends "base.html" %}

{% block content %}
{% include 'main/includes/intro.html' %}

<div class="container">
<div class="row">
    <div class="col-md-8 order-2 order-md-1">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">About</h5>
              
              <p>This site was my idea for my final project, covering Python and Django, as part of my Fullstack Developer Course with The Code Institute. The site intends to demonstrate an ability to code and understand both frontend and backend development</p>
              <p>This is a purely educational site and not a real world business. The ecommerce functionaly uses the test version of Stripe and will only accept the test stripe credit card details</p>
              
            </div>
        </div>
    </div>
    <div class="col-md-4 order-1">
        <div style="margin: auto; text-align: center; padding-top:3rem;">
            <i class="fa fa-info fa-size" aria-hidden="true"></i>
          </div>
      </div>
  </div>
</div>




{% endblock %}