{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row mb-2">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">About</h5>
          <h6 class="card-subtitle mb-2 text-muted">About subtitle</h6>
          <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, distinctio elit. Id,
            distinctio!</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}