{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row mb-4">
        <div class="col-md-4 mb-2">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Box 1</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Box subtitle</h6>
                  <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, distinctio elit. Id, distinctio!</p>
                  <a href="#" class="card-link">Box link</a>
                </div>
              </div>
        </div>
        <div class="col-md-4 mb-2">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Box 2</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Box subtitle</h6>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam exercitationem 
                      vel eos </p>
                  <a href="#" class="card-link">Box link</a>
                </div>
              </div>
        </div>
        <div class="col-md-4 mb-2">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Box 3</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Box subtitle</h6>
                  <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos perferendi quaerat?</p>
                  <a href="#" class="card-link">Box link</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}