{% extends "base.html" %}

{% block content %}
<div class="container mt-2 mb-2">
    <div class="row">
        <div class="col-md-8 order-2 order-md-1">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Community</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Box subtitle</h6>
                  <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos perferendi quaerat?</p>
                  <a href="#" class="btn btn-info">Community sounds good!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 order-1">
            <div style="margin: auto; text-align: center; padding-top:3rem;">
                <i class="fa fa-comments-o fa-5x" aria-hidden="true"></i>
              </div>
            
          </div>
      </div>
  <div class="row">

    <div class="col-md-4">
        <div style="margin: auto; text-align: center; padding-top:3rem;">
            <i class="fa fa-shopping-bag fa-5x" aria-hidden="true"></i>
          </div>
      </div>
      <div class="col-md-8">
          <div class="card">
              <div class="card-body">
                <h5 class="card-title">Our Products</h5>
                <h6 class="card-subtitle mb-2 text-muted">Box subtitle</h6>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos perferendi quaerat?</p>
                <a href="#" class="btn btn-info">Let me see your Proudcts!</a>
              </div>
          </div>
      </div>
  </div>    
  <div class="row">
      <div class="col-md-8 order-2 order-md-1">
          <div class="card">
              <div class="card-body">
                <h5 class="card-title">About</h5>
                <h6 class="card-subtitle mb-2 text-muted">Box subtitle</h6>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos perferendi quaerat?</p>
                <a href="#" class="btn btn-info">I want to know more about you!</a>
              </div>
          </div>
      </div>
      <div class="col-md-4 order-1">
          <div style="margin: auto; text-align: center; padding-top:3rem;">
              <i class="fa fa-info fa-5x" aria-hidden="true"></i>
            </div>
        </div>
    </div>



  </div>
{% endblock %}